
body{
    font-size: 14px;
    color: navy;
    background-color:lightgray;
    font-family: arial, helvetica, serif;
    margin: 5px 5% 0 5%;
    padding:10px;
    border-style: outset;
    border-radius: 15px;
}
h1,h2 {
    color: #009;
    background-color: #ffc;
    text-decoration: underline;
    padding: 5px;
    border-style: outset;
    margin:10px 20px;
    border-width: 0.1em;
    border-radius: 5px;
}
p {
    font-size: 14px;
    font-weight: normal;
    padding: 0 15px;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
#chapter2 {
    font-variant: small-caps;
}
h1 {
    text-transform: capitalize;
}
h2 {
    letter-spacing: 2px;
    text-align: center;
}
table {
    outline: black;
    outline-width: 2px;
}
.bold {
    font-weight: bolder;
}
p.bold {
    color: orangered;
}

#top {
    background-color: darkolivegreen;
    padding: 10px;
    color:black;
    border-radius: 7px;
    
}
a:link{
    color:purple;
}
a:visited{
    color:yellow;
}
a:hover {
    color:orange;
}
textarea:focus{
    background: palevioletred;
}
a:first-child {
    font-size: 30px;
}
ol li {
    display: block;
    padding: 10px 20px;
}


.hidden {
    display: none;
}
#navigation {
    position: absolute;
    top:0;
    left:0;
    width: 80%;
    padding: 10px;
    border-width: 5px;
    background-color: yellowgreen;
    border-color: black;
    border-style: double;
}