
body{
    padding:0;
    margin:0;
    background: white url(/home/tim7326/first_web_page/wood.jpg) repeat top right;
}

div.content {
    background-color: lightgray;
    font: normal 14px arial;
    color: navy;

    margin: 5px 5% 0 5%;
    padding:10px;
    border-style: outset;
    border-radius: 15px;
}

div.navigation {

    
    margin:0;
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    border: 40%;
    
    
   
}
div.navigationbox {
background-color: lightskyblue;
    width:100%;
    height: 200px; 
    padding: 0;
    border-width: 0 ;
    top:0;
    right:0;
    
}
#test {
    ;
}


h1,h2 {
    color: #009;
    background-color: #ffc;
    text-decoration: underline;
    padding: 5px;
    border: 0.1em outset;
    border-color: gray black;

    border-radius: 5px;
}
p {
    font-size: 14px;
    font-weight: normal;
    padding: 0 15px;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
#chapter2 {
    font-variant: small-caps;
}
h1 {
    text-transform: capitalize;
}
h2 {
    letter-spacing: 2px;
    text-align: center;
}
table {
    outline: black;
    outline-width: 2px;
}
.bold {
    font-weight: bolder;
}
p.bold {
    color: orangered;
}

#top {
    background-color: darkolivegreen;
    padding: 10px;
    color:black;
    border-radius: 7px;
    
}
a:link{
    color:purple;
}
a:visited{
    color:yellow;
}
a:hover {
    color:orange;
}
textarea:focus{
    background: palevioletred;
}
a:first-child {
    font-size: 30px;
}
ol li {
    display: block;
    padding: 10px 20px;
}


.hidden {
    display: none;
}
#navigation {
    position: absolute;
    top:0;
    left:0;
    width: 80%;
    padding: 10px;
    border-width: 5px;
    background-color: yellowgreen;
    border-color: black gray;
    border-style: double;
}